In [1]:
#pandas
'''https://pandas.pydata.org/pandas-docs/stable/10min.html#min'''

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Serie e uma tabela com uma coluna indice e uma coluna de dados
s = pd.Series([1,3,5,np.nan,6,8])
print(s)
#datas
dates = pd.date_range('20130101', periods=6)
print(dates)

#cria dataframe
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print(df)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01 -0.403196  0.032249  0.100169  0.687405
2013-01-02 -1.610428  0.434653 -0.204463  1.297635
2013-01-03  0.428089  1.481069 -0.005562  0.599542
2013-01-04 -0.620118  1.130695 -0.189590  0.974589
2013-01-05  2.148767  0.648769 -1.388115 -0.585609
2013-01-06 -1.367042 -0.587597  0.124448  0.187487

In [2]:
#cria dataframe
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })

print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [3]:
print('tipos de dados do dataframe')
print(df2.dtypes)
#imprime as 5 primeiras colunas
print(df.head())
#imprime as 3 primeiras colunas
print(df.tail(3))
#imprime index
print(df.index)
#imprime cabecalho das colunas
print(df2.columns)

tipos de dados do dataframe
A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object
                   A         B         C         D
2013-01-01 -0.403196  0.032249  0.100169  0.687405
2013-01-02 -1.610428  0.434653 -0.204463  1.297635
2013-01-03  0.428089  1.481069 -0.005562  0.599542
2013-01-04 -0.620118  1.130695 -0.189590  0.974589
2013-01-05  2.148767  0.648769 -1.388115 -0.585609
                   A         B         C         D
2013-01-04 -0.620118  1.130695 -0.189590  0.974589
2013-01-05  2.148767  0.648769 -1.388115 -0.585609
2013-01-06 -1.367042 -0.587597  0.124448  0.187487
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [4]:
#imprime estatisticas basicas dos dados
print(df.describe())
#imprime a transposta
print(df.T)
#imprime segundo um eixo
print(df.sort_index(axis=1, ascending=False))
#imprime segundo a columa B
print(df.sort_values(by='B'))
#seleciona uma coluna
print(df['A'])

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.237322  0.523306 -0.260519  0.526841
std    1.376367  0.746334  0.569727  0.660056
min   -1.610428 -0.587597 -1.388115 -0.585609
25%   -1.180311  0.132850 -0.200745  0.290501
50%   -0.511657  0.541711 -0.097576  0.643473
75%    0.220267  1.010214  0.073736  0.902793
max    2.148767  1.481069  0.124448  1.297635
   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.403196   -1.610428    0.428089   -0.620118    2.148767   -1.367042
B    0.032249    0.434653    1.481069    1.130695    0.648769   -0.587597
C    0.100169   -0.204463   -0.005562   -0.189590   -1.388115    0.124448
D    0.687405    1.297635    0.599542    0.974589   -0.585609    0.187487
                   D         C         B         A
2013-01-01  0.687405  0.100169  0.032249 -0.403196
2013-01-02  1.297635 -0.204463  0.434653 -1.610428
2013-01-03  0.599542 -0.005562  1.481069  0.428089
2013-01-04  0.974589 -0.189590  1.130695 -0.620118
2013-01-05 -0.585609 -1.388115  0.648769  2.148767
2013-01-06  0.187487  0.124448 -0.587597 -1.367042
                   A         B         C         D
2013-01-06 -1.367042 -0.587597  0.124448  0.187487
2013-01-01 -0.403196  0.032249  0.100169  0.687405
2013-01-02 -1.610428  0.434653 -0.204463  1.297635
2013-01-05  2.148767  0.648769 -1.388115 -0.585609
2013-01-04 -0.620118  1.130695 -0.189590  0.974589
2013-01-03  0.428089  1.481069 -0.005562  0.599542
2013-01-01   -0.403196
2013-01-02   -1.610428
2013-01-03    0.428089
2013-01-04   -0.620118
2013-01-05    2.148767
2013-01-06   -1.367042
Freq: D, Name: A, dtype: float64

In [5]:
#seleciona linha 0, 1 e 2
print(df[0:3])
#seleciona as linhas entre as datas (index)
print(df['20130102':'20130104'])
#seleciona os elementos da linha 0
print(df.loc[dates[0]])
#seleciona os elementos da linha 1
print(df.loc[dates[1]])
#seleciona os elementos da linha 2
print(df.loc[dates[2]])

                   A         B         C         D
2013-01-01 -0.403196  0.032249  0.100169  0.687405
2013-01-02 -1.610428  0.434653 -0.204463  1.297635
2013-01-03  0.428089  1.481069 -0.005562  0.599542
                   A         B         C         D
2013-01-02 -1.610428  0.434653 -0.204463  1.297635
2013-01-03  0.428089  1.481069 -0.005562  0.599542
2013-01-04 -0.620118  1.130695 -0.189590  0.974589
A   -0.403196
B    0.032249
C    0.100169
D    0.687405
Name: 2013-01-01 00:00:00, dtype: float64
A   -1.610428
B    0.434653
C   -0.204463
D    1.297635
Name: 2013-01-02 00:00:00, dtype: float64
A    0.428089
B    1.481069
C   -0.005562
D    0.599542
Name: 2013-01-03 00:00:00, dtype: float64

In [6]:
#seleciona todas as linhas das colunas A e B
print(df.loc[:,['A','B']])
#seleciona as linhas entre as datas sendo das colunas A e B
print(df.loc['20130102':'20130104',['A','B']])
#seleciona os elementos das columas A e B da linha especificada
print(df.loc['20130102',['A','B']])
#seleciona o elemento da linha 0 e coluna A
print(df.loc[dates[0],'A'])
print(df.at[dates[0],'A']) #mais rapido!
#todos os elementos da linha 3
print(df.iloc[3])

                   A         B
2013-01-01 -0.403196  0.032249
2013-01-02 -1.610428  0.434653
2013-01-03  0.428089  1.481069
2013-01-04 -0.620118  1.130695
2013-01-05  2.148767  0.648769
2013-01-06 -1.367042 -0.587597
                   A         B
2013-01-02 -1.610428  0.434653
2013-01-03  0.428089  1.481069
2013-01-04 -0.620118  1.130695
A   -1.610428
B    0.434653
Name: 2013-01-02 00:00:00, dtype: float64
-0.40319616868766833
-0.40319616868766833
A   -0.620118
B    1.130695
C   -0.189590
D    0.974589
Name: 2013-01-04 00:00:00, dtype: float64

In [7]:
#elementos da linha 3 e 4 e das colunas A e B ou 0 e 1
#repare que a linha 5 não entra e a coluna 2 nao entra.
print(df.iloc[3:5,0:2])
#linhas 1, 2 e 4 e colunas 0 e 1
print(df.iloc[[1,2,4],[0,2]])
#todas as colunas das linhas 1 e 2
print(df.iloc[1:3,:])
#todas as linhas das colunas 1 e 2
print(df.iloc[:,1:3])
#le um unico valor
print(df.iloc[1,1])
print(df.iat[1,1]) #mais rapido!

                   A         B
2013-01-04 -0.620118  1.130695
2013-01-05  2.148767  0.648769
                   A         C
2013-01-02 -1.610428 -0.204463
2013-01-03  0.428089 -0.005562
2013-01-05  2.148767 -1.388115
                   A         B         C         D
2013-01-02 -1.610428  0.434653 -0.204463  1.297635
2013-01-03  0.428089  1.481069 -0.005562  0.599542
                   B         C
2013-01-01  0.032249  0.100169
2013-01-02  0.434653 -0.204463
2013-01-03  1.481069 -0.005562
2013-01-04  1.130695 -0.189590
2013-01-05  0.648769 -1.388115
2013-01-06 -0.587597  0.124448
0.4346530694823334
0.4346530694823334

In [8]:
#todas as linhas com valor de A maior que 0
print(df[df.A > 0])
#todas as linhas que forem maior que 0
print(df[df > 0])
#copia dataframe
df2 = df.copy()
#adiciona nova coluna E e os respectivos valores
df2['E'] = ['one', 'one','two','three','four','three']
print(df2)
#todas as linhas em que os valores two ou four estejam na coluna E
print(df2[df2['E'].isin(['two','four'])])
#cria series com valores 1 a 6 e com indices da data inicial até 6 periodos
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130101', periods=6))
print(s1)

                   A         B         C         D
2013-01-03  0.428089  1.481069 -0.005562  0.599542
2013-01-05  2.148767  0.648769 -1.388115 -0.585609
                   A         B         C         D
2013-01-01       NaN  0.032249  0.100169  0.687405
2013-01-02       NaN  0.434653       NaN  1.297635
2013-01-03  0.428089  1.481069       NaN  0.599542
2013-01-04       NaN  1.130695       NaN  0.974589
2013-01-05  2.148767  0.648769       NaN       NaN
2013-01-06       NaN       NaN  0.124448  0.187487
                   A         B         C         D      E
2013-01-01 -0.403196  0.032249  0.100169  0.687405    one
2013-01-02 -1.610428  0.434653 -0.204463  1.297635    one
2013-01-03  0.428089  1.481069 -0.005562  0.599542    two
2013-01-04 -0.620118  1.130695 -0.189590  0.974589  three
2013-01-05  2.148767  0.648769 -1.388115 -0.585609   four
2013-01-06 -1.367042 -0.587597  0.124448  0.187487  three
                   A         B         C         D     E
2013-01-03  0.428089  1.481069 -0.005562  0.599542   two
2013-01-05  2.148767  0.648769 -1.388115 -0.585609  four
2013-01-01    1
2013-01-02    2
2013-01-03    3
2013-01-04    4
2013-01-05    5
2013-01-06    6
Freq: D, dtype: int64

In [9]:
#insere s1 na coluna F de df
df['F'] = s1
print(df)
#atribui 0 na linha 0 coluna A
df.at[dates[0],'A'] = 0
print(df)
#atribui 0 na linha 0 e coluna 1 ou B
df.iat[0,1] = 0
print(df)
#coloca um vetor de valores 5 na coluna D de df
df.loc[:,'D'] = np.array([5] * len(df))
print(df)

                   A         B         C         D  F
2013-01-01 -0.403196  0.032249  0.100169  0.687405  1
2013-01-02 -1.610428  0.434653 -0.204463  1.297635  2
2013-01-03  0.428089  1.481069 -0.005562  0.599542  3
2013-01-04 -0.620118  1.130695 -0.189590  0.974589  4
2013-01-05  2.148767  0.648769 -1.388115 -0.585609  5
2013-01-06 -1.367042 -0.587597  0.124448  0.187487  6
                   A         B         C         D  F
2013-01-01  0.000000  0.032249  0.100169  0.687405  1
2013-01-02 -1.610428  0.434653 -0.204463  1.297635  2
2013-01-03  0.428089  1.481069 -0.005562  0.599542  3
2013-01-04 -0.620118  1.130695 -0.189590  0.974589  4
2013-01-05  2.148767  0.648769 -1.388115 -0.585609  5
2013-01-06 -1.367042 -0.587597  0.124448  0.187487  6
                   A         B         C         D  F
2013-01-01  0.000000  0.000000  0.100169  0.687405  1
2013-01-02 -1.610428  0.434653 -0.204463  1.297635  2
2013-01-03  0.428089  1.481069 -0.005562  0.599542  3
2013-01-04 -0.620118  1.130695 -0.189590  0.974589  4
2013-01-05  2.148767  0.648769 -1.388115 -0.585609  5
2013-01-06 -1.367042 -0.587597  0.124448  0.187487  6
                   A         B         C  D  F
2013-01-01  0.000000  0.000000  0.100169  5  1
2013-01-02 -1.610428  0.434653 -0.204463  5  2
2013-01-03  0.428089  1.481069 -0.005562  5  3
2013-01-04 -0.620118  1.130695 -0.189590  5  4
2013-01-05  2.148767  0.648769 -1.388115  5  5
2013-01-06 -1.367042 -0.587597  0.124448  5  6

In [10]:
df2 = df.copy()
#onde os valores forem menor que 0, coloca os valores invertidos nos campos correspondentes.
df2[df2 > 0] = -df2
#reindex e especifica o lable das colunas
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
#coloca o valor 1 na coluna E da primeira e segunda linhas
df1.loc[dates[0]:dates[1],'E'] = 1
print(df1)
#apaga todas as linhas com valores NaN
df1 = df1.dropna(how='any')
print(df1)

                   A         B         C  D  F    E
2013-01-01  0.000000  0.000000  0.100169  5  1  1.0
2013-01-02 -1.610428  0.434653 -0.204463  5  2  1.0
2013-01-03  0.428089  1.481069 -0.005562  5  3  NaN
2013-01-04 -0.620118  1.130695 -0.189590  5  4  NaN
                   A         B         C  D  F    E
2013-01-01  0.000000  0.000000  0.100169  5  1  1.0
2013-01-02 -1.610428  0.434653 -0.204463  5  2  1.0

In [11]:
#coloca o valor 5 onde for NaN
df1 = df1.fillna(value=5)
print(df1)
#testa se existe NaN em df1
print(pd.isna(df1))
#media por coluna
print(df.mean())
#media por linha
print(df.mean(1))

                   A         B         C  D  F    E
2013-01-01  0.000000  0.000000  0.100169  5  1  1.0
2013-01-02 -1.610428  0.434653 -0.204463  5  2  1.0
                A      B      C      D      F      E
2013-01-01  False  False  False  False  False  False
2013-01-02  False  False  False  False  False  False
A   -0.170122
B    0.517932
C   -0.260519
D    5.000000
F    3.500000
dtype: float64
2013-01-01    1.220034
2013-01-02    1.123952
2013-01-03    1.980719
2013-01-04    1.864197
2013-01-05    2.281884
2013-01-06    1.833962
Freq: D, dtype: float64

In [12]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
print(s)
#subtrai s de df, elemento a elemento
print(df.sub(s,axis='index'))
#aplica a operacao np.cumsum ao dataframe
print(df.apply(np.cumsum))
#aplica lambda ao df
print(df.apply(lambda x: x.max() - x.min()))
#cria serie
s = pd.Series(np.random.randint(0, 7, size=10))
#conta valores (histograma)
xx = s.value_counts()
print(xx)

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64
                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -0.571911  0.481069 -1.005562  4.0  2.0
2013-01-04 -3.620118 -1.869305 -3.189590  2.0  1.0
2013-01-05 -2.851233 -4.351231 -6.388115  0.0  0.0
2013-01-06       NaN       NaN       NaN  NaN  NaN
                   A         B         C   D   F
2013-01-01  0.000000  0.000000  0.100169   5   1
2013-01-02 -1.610428  0.434653 -0.104294  10   3
2013-01-03 -1.182339  1.915722 -0.109856  15   6
2013-01-04 -1.802458  3.046417 -0.299446  20  10
2013-01-05  0.346309  3.695186 -1.687561  25  15
2013-01-06 -1.020733  3.107589 -1.563113  30  21
A    3.759195
B    2.068666
C    1.512563
D    0.000000
F    5.000000
dtype: float64
3    2
2    2
1    2
0    2
6    1
5    1
dtype: int64

In [13]:
#cria series
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
#transforma para minusculo
print(s.str.lower())
#cria dataframe
df = pd.DataFrame(np.random.randn(10, 4))
#quebra em partes
pieces = [df[:3], df[3:7], df[7:]]
print(pieces)
concatenacao = pd.concat(pieces)
print(concatenacao)

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object
[          0         1         2         3
0 -0.383821  2.286988 -0.175209  1.638059
1 -0.311804 -0.322565 -0.048511 -0.261143
2 -1.047006 -0.940424  1.723412 -0.423975,           0         1         2         3
3  1.330621  0.894384  2.261047 -1.122471
4  0.034015  1.299497  0.814183  0.888387
5 -0.783782 -1.116500 -1.102229 -0.328100
6 -0.895744 -1.399759 -1.337073 -0.597976,           0         1         2         3
7  0.279975  0.289185  0.312389  0.951422
8  0.683304 -2.133826  0.455354 -1.357135
9  0.422992  1.025715 -0.025594 -0.123282]
          0         1         2         3
0 -0.383821  2.286988 -0.175209  1.638059
1 -0.311804 -0.322565 -0.048511 -0.261143
2 -1.047006 -0.940424  1.723412 -0.423975
3  1.330621  0.894384  2.261047 -1.122471
4  0.034015  1.299497  0.814183  0.888387
5 -0.783782 -1.116500 -1.102229 -0.328100
6 -0.895744 -1.399759 -1.337073 -0.597976
7  0.279975  0.289185  0.312389  0.951422
8  0.683304 -2.133826  0.455354 -1.357135
9  0.422992  1.025715 -0.025594 -0.123282